/* Categories */

.menu {}

.main__menu {
    margin: 45px 0 120px 0;
}

.menu__container {}

.title {}

.main__title {
    margin-bottom: 47px;
}

.menu__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, 192px);
    grid-gap: 50px 52px;
}

.category-card {}

.menu__category-card {
}

.category-card__img {}

.category-card__title {}

/* End Categories */